@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <br />
                <h1 class="page-header">Lista de Encuestas</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead class="thead-default">
                                <tr class="add-category-row">
                                    <th style="width: 30px;">
                                        <a class="btn-view-fund btn btn-default btn-xs  pull-left" href="@Url.Action("CreacionEncabezado","Encuesta")">
                                            <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
                                        </a>
                                    </th>
                                    <th colspan="2">Crear Nueva Encuesta</th>
                                    <th style="width: 70px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Session["ListaEncuesta"] != null)
                                {
                                    foreach (var Line in (List<Encuestas.Models.Encuesta>)Session["ListaEncuesta"])
                                    {
                                        <tr>
                                            <td></td>
                                            <td colspan="3">@Line.Nombre - @Line.Descripcion</td>
                                            <td style="text-align: right;">
                                                <button value="http://encuestasbmph.somee.com/Respuesta/Encuesta?k=@Line.Nombre&j=@Line.IdEncuesta.ToString()" onclick="UrlGet(this.value)" class="btn-view-fund btn btn-default btn-xs" title="Copiar Url de encuesta">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </button>
                                                <a class="btn-view-fund btn btn-default btn-xs" href="@Url.Action("VerRespuestas","Respuesta", new { k = Line.IdEncuesta})" title="Ver Respuesta encuesta">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                                <a class="btn-view-fund btn btn-default btn-xs" href="@Url.Action("EditarEncuesta","Encuesta", new { k = Line.IdEncuesta})">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                                <a class="btn-view-fund btn btn-default btn-xs" href="@Url.Action("EliminarEncuesta","Encuesta", new { k = Line.IdEncuesta})">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        function UrlGet(value) {
            var tempInput = document.createElement("input");
            tempInput.value = value;
            document.body.appendChild(tempInput);
            tempInput.select();
            tempInput.setSelectionRange(0, 99999);
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            alert("Texto copiado al portapapeles: " + value);
        }
    </script>
</body>
</html>
